<html>
    <head>
    	<title>{% block title %}Projeku.com{% endblock %}</title>
    	<link rel="stylesheet" type="text/css" href="http://localhost/projeku/assets/css/bootstrap.css">
    	<link rel="stylesheet" type="text/css" href="http://localhost/projeku/assets/css/fontawesome-all.css">
    	<link rel="stylesheet" type="text/css" href="http://localhost/projeku/assets/css/portfolio-item.css">
    </head>
    <body>
    	 <nav class="navbar navbar-expand-md navbar-dark  bg-success">
		      <a class="navbar-brand" href="#">Projeku</a>
		      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="navbar-toggler-icon"></span>
		      </button>
		      <div class="collapse navbar-collapse" id="navbarCollapse">
		        <ul class="navbar-nav mr-auto">
		          <li class="nav-item ">
		            <a class="nav-link text-white" href="http://localhost/projeku/index.php/">Home </a>
		          </li>
		          <li class="nav-item">
		            <a class="nav-link text-white" href="http://localhost/projeku/index.php/about">About</a>
		          </li>
		          <li class="nav-item float-right">
		            <a class="nav-link text-white" href="http://localhost/projeku/index.php/login">Login</a>
		          </li>
		           <li class="nav-item float-right">
		            <a class="nav-link text-white" href="http://localhost/projeku/index.php/register">Register</a>
		          </li>
		        </ul>
		   		
		      </div>
		    </nav>
		<div class="container-fuild " style="padding: 1% 2% 2% 2%" >
        		{% block content %}
        
        		 {% endblock %}
        </div>
        <script type="text/javascript" src="http://localhost/projeku/assets/js/jquery.js"></script>
        <script type="text/javascript" src="http://localhost/projeku/assets/js/bootstrap.js"></script>
    </body>
</html>